<div class="banner_bg_main">

   <!-- header top -->
   <div class="container">
      <div class="header_section_top">
         <div class="row">
            <div class="col-sm-12">
               <div class="custom_menu">
                  <ul>
                     <li><a href="#">Best Sellers</a></li>
                     <li><a href="#">Gift Ideas</a></li>
                     <li><a href="#">New Releases</a></li>
                     <li><a href="#">Today's Deals</a></li>
                     <li><a href="#">Customer Service</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- logo -->
   <div class="logo_section">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="logo">
                  <a href="{% url 'home' %}">
                     <img src="{% static 'images/logo.png' %}">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- menu -->
   <div class="header_section">
      <div class="container">
         <div class="containt_main">

            <div id="mySidenav" class="sidenav">
               <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
               <a href="{% url 'home' %}">Home</a>
               <a href="#">Fashion</a>
               <a href="#">Electronic</a>
               <a href="#">Jewellery</a>
            </div>

            <span class="toggle_icon" onclick="openNav()">
               <img src="{% static 'images/toggle-icon.png' %}">
            </span>

            <div class="main">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search this blog">
                  <div class="input-group-append">
                     <button class="btn btn-secondary" type="button" style="background-color:#f26522">
                        <i class="fa fa-search"></i>
                     </button>
                  </div>
               </div>
            </div>

            <div class="header_box">
               <div class="login_menu">
                  <ul>
                     <li>
                        <a href="#"><i class="fa fa-shopping-cart"></i> Cart</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-user"></i> Account</a>
                     </li>
                  </ul>
               </div>
            </div>

         </div>
      </div>
   </div>

   <!-- banner -->
   <div class="banner_section layout_padding">
      <div class="container">
         <div id="my_slider" class="carousel slide" data-ride="carousel">
            <!-- contenu inchangé -->
         </div>
      </div>
   </div>

</div>
