{% extends "base/base.html" %}
{% load static %}

{% block title %}Images - {{ article.name }} | FasoStore{% endblock %}

{% block content %}
<h2 class="mb-4">
    Images de l’article : <span class="text-warning">{{ article.name }}</span>
</h2>

<div class="row">
    {% for img in images %}
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm {% if img.is_main %}border-warning{% endif %}">
            <img src="{{ img.image.url }}" class="card-img-top" alt="{{ article.name }}">

            <div class="card-body text-center">
                {% if img.is_main %}
                    <span class="badge bg-warning text-dark mb-2">Image principale</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <p>Aucune image disponible pour cet article.</p>
    {% endfor %}
</div>

<div class="mt-3">
    <a href="{% url 'article_detail' article.pk %}" class="btn btn-secondary">
        ← Retour à l’article
    </a>
</div>
{% endblock %}
