{% extends 'base/base.html' %}
{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block content %}
<div class="row justify-content-center my-5">
    <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-header fw-bold text-center">
                <i class="fas fa-key"></i> Nouveau mot de passe
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="mb-3">
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-success w-100">
                        Réinitialiser
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
